body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#forgotPassword {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: small;
}

.main {
  text-align: center;
}

.password,
.ID {
  font-size: xx-large;
}

.registrationBody,
.loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwords {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navButtonShow {
  padding: 14px 16px;
}

.navButtonHide {
  visibility: hidden;
}

.header {
  padding: 14px 16px;
  background-color: deepskyblue;
}
